
#include <windows.h>
#include <commctrl.h>
#include <richedit.h>
#include "resource.h"




//
// Dialog resources
//
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDD_RTL_SETTINGS DIALOG 0, 0, 196, 236
STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_CAPTION | WS_VISIBLE | WS_POPUP | WS_SYSMENU
EXSTYLE WS_EX_TOPMOST
CAPTION "CIAOradio H101 Config"
FONT 8, "Ms Shell Dlg"
{
	GROUPBOX        "Receiver", IDC_STATIC, 5, 5, 185, 130
	LTEXT           "ANTENNA", IDC_STATIC, 35, 22, 60, 8
	COMBOBOX        IDC_ANTENNA, 100, 20, 50, 60, CBS_DROPDOWNLIST | WS_VSCROLL | CBS_HASSTRINGS
	LTEXT           "#", IDC_STATIC, 155, 22, 30, 8

    LTEXT           "ATTENUATOR", IDC_STATIC, 35, 42, 55, 8
    COMBOBOX        IDC_ATTENUATOR, 100, 40, 50, 60, CBS_DROPDOWNLIST | ES_RIGHT | WS_VSCROLL | CBS_HASSTRINGS
	LTEXT           "dB", IDC_STATIC, 155, 42, 30, 8

	LTEXT           "IF GAIN", IDC_STATIC, 35, 62, 60, 8
	COMBOBOX        IDC_IFGAIN, 100, 60, 50, 60, CBS_DROPDOWNLIST | WS_VSCROLL | CBS_HASSTRINGS
	LTEXT           "dB", IDC_STATIC, 155, 62, 30, 8


	GROUPBOX        "Sound device USB-H101", IDC_STATIC, 5, 135, 185, 84
	PUSHBUTTON      "Setting", IDC_SOUNDD, 100, 145, 50, 12, NOT WS_TABSTOP | BS_FLAT


	COMBOBOX        IDC_AUDIOIN, 10, 165, 175, 61, CBS_DROPDOWNLIST | CBS_HASSTRINGS | WS_VSCROLL | WS_TABSTOP
	LTEXT           "Input volume ( ADC level ):", IDC_STATIC, 10, 182, 95, 8, SS_LEFT
	CTEXT           "%", IDC_STATIC, 155, 182, 20, 11, SS_CENTER
	EDITTEXT        IDC_ADC, 100, 180, 50, 14, ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
	CONTROL         "", IDC_ADC_S, UPDOWN_CLASS, UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_AUTOBUDDY | UDS_SETBUDDYINT, 140, 180, 11, 14

	COMBOBOX        IDC_AUDIOOUT, 10, 200, 175, 61, CBS_DROPDOWNLIST | CBS_HASSTRINGS | WS_VSCROLL | WS_TABSTOP

	
	LTEXT           "Sample Rate:", IDC_STATIC, 35, 82, 44, 8, SS_LEFT
    COMBOBOX        IDC_SAMPLERATE, 100, 80, 50, 60, CBS_DROPDOWNLIST | WS_VSCROLL | CBS_HASSTRINGS

    EDITTEXT        IDC_PPM, 100, 100, 50, 14, ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "", IDC_PPM_S, UPDOWN_CLASS, UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_AUTOBUDDY | UDS_SETBUDDYINT, 140, 100, 11, 14
    LTEXT           "Freq. Correction:", IDC_STATIC, 35, 102, 60, 8, SS_LEFT

    CTEXT           "ppm", IDC_STATIC,155, 102, 20, 11, SS_CENTER

	LTEXT            VERSION, IDC_STATIC, 110, 223, 180, 8, SS_LEFT
}

I_CONFIG             ICON    DISCARDABLE     "CIAOradio.ico"